<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="template :: head">
    </head>
    <body>
        <header th:replace="templatecliente :: cabecera"></header>

        
        
        <div class="container">
            <br>
            <button class="btn btn-success" onclick="goBack()">&laquo;Regresar</button>
            <div
                class="carrito"
                id="pills-contact"
                role="tabpanel"
                >
                <br>
                <form th:action="@{agregacarrito}" th:object="${carritos}" method="post">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-primary">
                                <th scope="col">#</th>
                                <th scope="col">Productos</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody  class="tbody">
  
                        </tbody>
                    </table>

                    <div class="row mx-4">
                        <div class="col d-flex justify-content-end">
                            <h3  class="itemCartTotal"></h3>
                            <input th:field="*{nombre}" class="json" name="json" type="hidden" value="1">
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <h4>Detalle de compra</h4>
                        <hr>
                        <div class="row align-items-start">
                            <div class="col">
                                <label>Metodo de pago</label>

                                <select class="form-control form-control-sm col-md-6" name="tipopago" required> 
                                    <option th:field="*{tipopago}" th:each="tipopago:${tipopagos}"
                                            th:value="${tipopago.id}"
                                            th:text="${tipopago.nombre}"		
                                            />					
                                </select>
                            </div>
                            <div class="col">
                                <label class="" for="fecha">Fecha Estimada</label> 
                                <input type="datetime-local" th:field="*{fecha}" class="form-control form-control-sm" id="fecha"
                                       placeholder="Fecha Estimada" required>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="col d-flex justify-content-end">
                        <button sec:authorize="isAuthenticated()" onclick="procesarCompra()" class="btn btn-success">COMPRAR</button>
                    </div>
                </form>
            </div>
            <hr>
        </div>
        <footer th:replace="template :: footer"></footer>
<script>
		function goBack(){
			window.history.back();
		}
                
                function procesarCompra(){
                    deleteLocalStorage();
                    Swal.fire('Compra Realizada Correctamente', 'Compra registrada!', 'success')
                }
                
                
	</script>
    </body>
</html>
