<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: head">

    </head>
    <body>
        <header th:replace="template :: cabecera"></header>


        <div class="card bg-light">
            <div class="card-header h3">Nuevo Vendedor</div>
            <div class="card-body">
                <form class="" th:action="@{/savepersonavendedor}" th:object="${cliente} " method="post"> 
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col py-3 px-lg-5 border bg-light" >
                                <a class="text-info h4">Datos Personales</a>
                                <hr>
                                <div class="form-group row">

                                    <input type="hidden" th:field="*{id}">
                                    <label for="nombres">Nombre:</label> 
                                    <input type="text" th:field="*{nombre}" onKeyUp="document.getElementById(this.id).value = document.getElementById(this.id).value.toUpperCase()" class="form-control form-control-sm " id="nombre"
                                           placeholder="Nombres del vendedor" required> 
                                </div>

                                <div class="form-group row">
                                    <label  for="apellidos">Apellidos:</label> 
                                    <input type="text" th:field="*{apellidos}" onKeyUp="document.getElementById(this.id).value = document.getElementById(this.id).value.toUpperCase()" class="form-control form-control-sm" id="apellidos"
                                           placeholder="Apellidos del vendedor" required> 

                                </div>
                                <div class="form-group row">
                                    <label  for="apellidos">Sexo</label> 
                                    <select required th:field="*{sexo}" class="form-control form-control-sm" id="sexo" > 
                                        <option value="" selected>Eliga su sexo</option>
                                        <option th:value="masculino">masculino</option>
                                        <option th:value="femenino">femenino</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label  for="fechanacimieno">Fecha Nacimiento</label> 
                                    <input type="date"  th:field="*{fechanacimieno}" class="form-control form-control-sm" id="fechanacimieno"
                                           placeholder="Fecha Nacimiento" required> 
                                </div>
                                <div class="form-group row">
                                    <label  for="email">Email:</label> 
                                    <input type="email" th:field="*{email}" class="form-control form-control-sm" id="email"
                                           placeholder="Email del Vendedor" required> 

                                </div>
                                <div class="form-group row">
                                    <label  for="telefono">Telefono</label> 
                                    <input type="text" pattern="\d*" maxlength="9" th:field="*{telefono}" class="form-control form-control-sm" id="telefono"
                                           placeholder="Telefono del Vendedor" required> 

                                </div>
                                <div class="form-group row">
                                    <label  for="dni">DNI</label> 
                                    <input type="text" pattern="\d*" maxlength="8" th:field="*{dni}" class="form-control form-control-sm" id="dni"
                                           placeholder="Dni del Vendedor" required> 

                                </div>
                                <div class="form-group row">
                                    <label  for="direccion">Direccion</label> 
                                    <input type="text" th:field="*{direccion}" onKeyUp="document.getElementById(this.id).value = document.getElementById(this.id).value.toUpperCase()" class="form-control form-control-sm" name="direccion"
                                           placeholder="Direccion del Vendedor" required> 

                                </div>
                                <div class="form-group row">
                                    <label for="provincia">Provincia</label>                
                                    <select required class="form-control form-control-sm" id="provincia" name="provincia" > 
                                        <option value="" selected>Eliga una provincia</option>
                                        <option th:each="provincia:${provinciascrear}"
                                                th:value="${provincia.id}"
                                                th:text="${provincia.descripcion}"		
                                                />					
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="distrito">Distrito</label> 
                                    <select required th:field="*{distrito}" class="form-control form-control-sm" name="distrito" > 
                                        <option value="" selected>Eliga un distrito</option>
<!--                                        <option th:each="distrito:${distritoscrear}"
                                                th:value="${distrito.id}"
                                                th:text="${distrito.descripcion}"		
                                                />					-->
                                    </select>
                                </div> 
                            </div>
                            <div class="col py-3 px-lg-5 border bg-light" >
                                <a class="text-info h4">Datos de la empresa</a><hr>
                                <div class="form-group row">
                                    <label for="nombre">Nombre Empresa</label> 
                                    <input required type="text"  th:field="*{tienda.nombre}" onKeyUp="document.getElementById(this.id).value = document.getElementById(this.id).value.toUpperCase()" class="form-control form-control-sm"
                                           placeholder="Nombre de la Empresa"> 
                                </div>
                                <div class="form-group row">
                                    <label for="dni">Telefono</label> 
                                    <input required type="text" pattern="\d*" maxlength="9"  id="telefono2" th:field="*{tienda.telefono}" class="form-control form-control-sm"
                                           placeholder="Telefono"> 
                                </div>
                                <div class="form-group row">
                                    <label  for="dni">Descripcion</label> 
                                    <input required type="text"  th:field="*{tienda.descripcion}" onKeyUp="document.getElementById(this.id).value = document.getElementById(this.id).value.toUpperCase()" class="form-control form-control-sm"
                                           placeholder="Descripcion"> 
                                </div>
                                <div class="form-group row">
                                    <label hidden for="dni">Latitud</label> 
                                    <input required type="text"  th:field="*{tienda.latitud}" class="lati form-control form-control-sm"
                                           placeholder="Latitud"  hidden> 
                                </div>
                                <div class="form-group row">
                                    <label hidden for="dni">Longitud</label> 
                                    <input required type="text"  th:field="*{tienda.longitud}" class="longi form-control form-control-sm"
                                           placeholder="Longitud" hidden> 

                                </div>

                                <div id="mapaa"></div>

                                <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI9_9XBYADMhQ4d_mI35CewUqouPE1rlA&callback=initMap">
                                </script>
                                <script th:inline="javascript">
                                    var provinciasre = [[${provinciascrear}]];
                                    var disitritore = [[${distritoscrear}]];
                                    var distr = document.getElementById("distrito");
                                    // Initialize our function when the document is ready for events.
                                    jQuery(document).ready(function () {
                                        // Listen for the input event.
                                        jQuery("#telefono").on('input', function (evt) {
                                            // Allow only numbers.
                                            jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
                                        });
                                        jQuery("#telefono2").on('input', function (evt) {
                                            // Allow only numbers.
                                            jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
                                        });
                                        jQuery("#dni").on('input', function (evt) {
                                            // Allow only numbers.
                                            jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
                                        });
                                        jQuery("#provincia").on('change', function (evt) {
                                            var length = distr.options.length;
                                            for (i = length - 1; i > 0; i--) {
                                                distr.options[i] = null;
                                            }
                                            switch (jQuery(this).val()) {
                                                case '1':
                                                    for (var j = 0; j < disitritore.length; j++) {
                                                        if (provinciasre[0].id == disitritore[j].provincia.id) {
                                                            var option = document.createElement("option");
                                                            option.text = disitritore[j].descripcion;
                                                            option.value = disitritore[j].id;
                                                            distr.add(option);
                                                        }
                                                    }
                                                    break;
                                                case '2':
                                                    for (var j = 0; j < disitritore.length; j++) {
                                                        if (provinciasre[1].id == disitritore[j].provincia.id) {
                                                            var option = document.createElement("option");
                                                            option.text = disitritore[j].descripcion;
                                                            option.value = disitritore[j].id;
                                                            distr.add(option);
                                                        }
                                                    }
                                                    break;
                                                case '3':
                                                    for (var j = 0; j < disitritore.length; j++) {
                                                        if (provinciasre[2].id == disitritore[j].provincia.id) {
                                                            var option = document.createElement("option");
                                                            option.text = disitritore[j].descripcion;
                                                            option.value = disitritore[j].id;
                                                            distr.add(option);
                                                        }
                                                    }
                                                    break;
                                            }

                                        });
                                    });
                                </script>
                                <script async defer>
                                    var map;
                                    var lati;
                                    var longi;

                                    // Devolución de llamada ejecutada cuando se ha cargado el script de Google Maps
                                    function initMap() {
                                        map = new google.maps.Map(document.getElementById('mapaa'), {
                                            zoom: 10,
                                            center: {
                                                lat: -16.4096939,
                                                lng: -71.5405849
                                            }
                                        });

                                        // Agregar oyente de clics en el mapa
                                        google.maps.event.addListener(map, "click", function (event) {
                                            var latLng = event.latLng;
                                            marker = new google.maps.Marker({
                                                position: event.latLng,
                                                map: map
                                            });

                                            //alert("Latitude: " + latLng.lat() + ", Longitude: " + latLng.lng());
                                            lati = latLng.lat();
                                            longi = latLng.lng();
                                            var latitud = document.querySelector('.lati').addEventListener("click", cambiaValores);
                                            var longitud = document.querySelector('.longi').addEventListener("click", cambiaValores);


                                        });
                                        latitud.value = latLng.lat();
                                        longitud.value = latLng.lng();
                                        //                            latitud.innerHTML=`${latLng.lng()}`
                                        //                            longitud.innerHTML=`${latLng.lng()}`
                                    }

                                    function cambiaValores() {
                                        var la = document.querySelector(".lati");
                                        var lo = document.querySelector(".longi");
                                        la.value = lati;
                                        lo.value = longi;
                                    }
                                </script>
                                <div class="form-group row">
                                    <input hidden="" type="text"  th:field="*{tienda.estado}" th:value="1"> 
                                </div>
                                <div class="form-group row">
                                    <label for="dni">Direccion Empresa</label> 
                                    <input type="text"  th:field="*{tienda.direccion}" class="form-control form-control-sm"
                                           placeholder="Direccion Empresa"> 

                                </div>
                                <div class="form-group row">
                                    <label for="provincia">Provincia</label>                
                                    <select class="form-control form-control-sm" id="provincia" required> 
                                        <option value="" selected>Eliga una provincia</option>
                                        <option th:each="provincia:${provinciascrear}"
                                                th:value="${provincia.id}"
                                                th:text="${provincia.descripcion}"		
                                                />					
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="distrito">Distrito</label> 
                                    <select th:field="*{tienda.distrito}" class="form-control form-control-sm" name="distrito" required> 
                                        <option value="" selected>Eliga un disitrito</option>
                                        <!--                                    <option th:each="distrito:${distritoscrear}"
                                                                                    th:value="${distrito.id}"
                                                                                    th:text="${distrito.descripcion}"		
                                                                                    />					-->
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-light">
                        <div class="offset-lg-5">
                            <input type="submit" class="btn btn-primary btn-lg" value="Guardar">
                        </div>

                    </div>
                    <br>
                </form>
            </div>
        </div>


        <div class="container">



        </div>

        <footer th:replace="template :: footer"></footer>

    </body>
</html>