<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: head"></head>
    <body>
        <header th:replace="templatecliente :: cabecera"></header>
        <div class="container">
            <div style="display: inline-block">
                <h2 class="h4 m-4 text-primary" style="display: inline-block">Tienda <div style="display: inline-block" th:text="${nomtienda}"></div></h2></div>
            <form th:action="@{/tienda}" method="get"> 
                <p>&nbsp;<input class="btn btn-success" type="submit" value="Atras" /></p>
            </form>
            <div class="card" >
                <div class="card-body">
                    <div class="input-group">
                        <h5>Busqueda: </h5>
                        &nbsp;&nbsp;
                        <form th:action="@{/busquedanombre/}" method="get">
                            <input th:value="${tiendaid}" name="idtiendaf" hidden>
                            <input type="text" class="form" th:value="${busquedastr}"
                                   name="busqueda" placeholder="¿Que producto necesita?" style="width: 800px;"> 
                            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="card">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" th:href="@{/filtrotiendaca/}+ ${tiendaid} + '/' + 0">Todos</a></li>
                    <li class="nav-item" th:each="cat:${categoriap}">  
                        <a class="nav-link" id="cate" name="cate" th:value="${cat.id}"
                           th:text="${cat.nombre}" th:href="@{/filtrotiendaca/}+ ${tiendaid} + '/' + ${cat.id}" ></a></li>
                </ul>
            </div>
            <br><br>
            <div class="tab-content" id="pills-tabContent">
                <div
                    class="tab-pane fade show active container"
                    id="pills-profile"
                    role="tabpanel"
                    aria-labelledby="pills-profile-tab"
                    >
                    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                        <div class="col d-flex justify-content-center mb-auto" th:each="producto: ${productos}">

                            <div class="card shadow mb-2 bg-light rounded">
                                <div hidden=""><p class="ideee"  th:text="${producto.id}" ></p></div>
                                <h5  class="card-title pt-4 text-center text-primary" th:text="${producto.nombre}"></h5>
                                <img th:src="@{'/images/' + ${producto.foto}}" class="card-img-top" alt="..." width="100" height="200">
                                <div class="card-body">
                                    <p class="card-text text-black-50 description" th:text="${producto.descripcion}">

                                    </p>
                                    <a class="btn btn-success btn-sm" th:href="@{/detalleproducto/} + ${producto.id}"
                                       th:text="'ver +'" title="Ver +">
                                    </a>
                                    <h5 class="text-primary">Precio: <span th:text="${producto.precio}" class="precio"></span></h5>           
                                    <h6 class="text-primary input-group">
                                        <p class="h6">Cantidad:</p>&nbsp;
                                        <input class="cantidad form-control" type="number" value="1" min="1"></h6>
                                    <div class="d-grid gap-2">                      
                                        <button onclick="Swal.fire('Agregado al carrito', 'Producto registrado!', 'success')" class="btn btn-primary button">Añadir a Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="h4 m-2 text-primary">Calificacion</p>
                            <div class="card-text">                                
                                <form th:action="@{/cali}" th:object="${calificacion}" method="get">
                                    <div class="rating" >

                                        <input id="star5"  th:field="*{numero}" name="star" type="radio" value="5" class="radio-btn hide" />
                                        <label for="star5" >☆</label>
                                        <input id="star4" th:field="*{numero}" name="star" type="radio" value="4" class="radio-btn hide" />
                                        <label for="star4" >☆</label>
                                        <input id="star3" th:field="*{numero}"  name="star" type="radio" value="3" class="radio-btn hide" />
                                        <label for="star3" >☆</label>
                                        <input id="star2" th:field="*{numero}" name="star" type="radio" value="2" class="radio-btn hide" />
                                        <label for="star2" >☆</label>
                                        <input id="star1"  th:field="*{numero}" name="star" type="radio" value="1" class="radio-btn hide" />
                                        <label for="star1" >☆</label>
                                        <div class="clear"></div>
                                    </div>
                                    <p><textarea th:field="*{cometario}" class="form-control" id="cometario" rows="10" cols="50" placeholder="Escriba su Comentario"></textarea></p>
                                    <p><input type="submit" class="btn btn-primary" value="Enviar"></p>
                                </form>
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <p class="h4 m-4 text-primary">Calificacion de la tienda</p>
                        <div class="card-text" style="width: available;height: available "> 
                            <div style="width: available; height: available; overflow-y: scroll;">
                                <div  class="card m-4" th:each="cl:${calitienda}">
                                    <div style="display: inline-block">
                                        <div class="m-2 text-primary" th:text="${cl.persona.nombre}"></div>

                                        <div class="m-2" style="display: inline-block">Calificacion: </div>
                                        <div style="display: inline-block" th:text="${cl.numero}"></div>
                                        <div style="display: inline-block">/5</div>

                                        <label style="font-size: 20px;">☆</label>
                                        <div class="card" >
                                            <div class="card-body" th:text="${cl.cometario}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade carrito"
                        id="pills-contact"
                        role="tabpanel"
                        aria-labelledby="pills-contact-tab"
                        hidden>
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-primary">
                                    <th scope="col">#</th>
                                    <th scope="col">Productos</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                        <br><br>
                        <div class="row mx-4">
                            <div class="col">
                                <h3 class="itemCartTotal">Total: 0</h3>
                                <input class="json" name="json" type="hidden" value="1">
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-success">COMPRAR</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <footer th:replace="template :: footer"></footer>
    </body>
</html>
