<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: head">

    </head>

    <body>    
        <header th:replace="template :: cabecera"></header>
        <div class="row">
            <div class="column" th:replace="template :: menuvendedor"></div>
            <div class="column text-center">

                <h1>Pedidos</h1><br>
<!--                <a class="btn btn-primary btn-sm text-center" th:href="@{/agregarp}"
                   th:text="'Pedido'" title="Pedido ">
                </a>-->
                <form>
                    <a>Buscar </a><input type="text" placeholder="Busqueda">
<!--                    <a>Buscar Fecha </a><input type="date">-->
                    <select>
                        <option>Nombre</option>
                        <option>Fecha</option>
                        <option>Monto</option>
                        <option>Estado de pedido</option>
                    </select>
                    <button class="btn btn-success" name="Buscar" >Buscar</button>
                </form>
                <br> <br>
                <table id="example" class="table text-center" style="width: 70%;margin-left: auto;margin-right: auto;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha Pedido</th>
                            <th scope="col">Fecha Envio</th>                         
                            <th scope="col">Tipo Pago</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cl:${pedidos}">
                            <th scope="row" th:text="${cl.id}"></th>
                            <td th:text="${cl.fechapedido}"></td>
                            <td th:text="${cl.fechaenvio}"></td>
                            <td th:text="${cl.tipopago.nombre}"></td>
                            <td th:text="${cl.cantidad}"></td>                        
                            <td th:text="${cl.total}"></td>
                            <td th:text="${cl.estado == '1'} ? 'Activo' : 'Desactivado'"></td>
                            <td>
                                <a class="btn btn-success btn-sm" th:href="@{/editpedido/} + ${cl.id}"
                                   th:text="'Editar'" title="Editar Registro">
                                </a>
                            </td>	
                            <td>
                                <a class="btn btn-danger btn-sm" th:href="@{/deletepedido/} + ${cl.id}"
                                   th:text="'Eliminar'" title="Eliminar Registro"
                                   onclick="return confirm('Esta seguro de eliminar el registro?');">
                                </a>
                            </td>					
                        </tr>
                    </tbody>
                </table>
                <nav  aria-label="Page navigation example" th:if = "${totalPages2 > 1}" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <span th:each="i: ${#numbers.sequence(1, totalPages2)}">
                                <a class="page-link" style="display:inline;" th:if="${currentPage2 != i}" th:href="@{'/page2/' + ${i}}">[[${i}]]</a>
<!--                                <span th:unless="${currentPage != i}">[[${i}]]</span>-->
                            </span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" style="display:inline;" th:if="${currentPage2 < totalPages2}" th:href="@{'/page2/' + ${currentPage2 + 1}}">Siguiente</a>
<!--                            <span th:unless="${currentPage < totalPages}">Siguiente</span>-->
                        </li>

                        <li class="page-item" style="display:inline;">
                            <a class="page-link" style="display:inline;"  th:if="${currentPage2 < totalPages2}" th:href="@{'/page2/' + ${totalPages2}}">Ultimo</a>
<!--                            <span th:unless="${currentPage < totalPages}">Ultimo</span>-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer th:replace="template :: footer"></footer>

    </body>
</html>