<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: head">
    </head>
    <body>
        <header th:replace="template :: cabecera"></header>

        <div class="row">
            <div class="column" th:replace="template :: menuvendedor"></div>

            <div class="column">
               
                <h1>Productos</h1>
                    <a class="btn btn-primary btn-sm text-center" th:href="@{/agregarp}"
                       th:text="'Agregar Producto'" title="Agregar Producto ">
                    </a>
                    <br> <br>
                    <table id="example" class="table text-center" style="width: 50%;margin-left: auto;margin-right: auto;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cl:${productos}">
                                <th scope="row" th:text="${cl.id}"></th>
                                <td th:text="${cl.nombre}"></td>
                                <td th:text="${cl.descripcion}"></td>
                                <td th:text="${cl.marca}"></td>
                                <td th:text="${cl.precio}"></td>

                                <td>
                                    <a class="btn btn-success btn-sm" th:href="@{/editproducto/} + ${cl.id}"
                                       th:text="'Editar'" title="Editar Registro">
                                    </a>
                                </td>	
                                <td>
                                    <a class="btn btn-danger btn-sm" th:href="@{/deleteproducto/} + ${cl.id}"
                                       th:text="'Eliminar'" title="Eliminar Registro"
                                       onclick="return confirm('Esta seguro de eliminar el registro?');">
                                    </a>
                                </td>					
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        
        <footer th:replace="template :: footer"></footer>

    </body>
</html>