<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: head"></head>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <header th:replace="templatevendedor :: cabecera"></header>

        <div class="sidebar" th:replace="templatevendedor :: menuvendedor"></div>

        <div class="container" style="position: absolute;top: 10%;left: 20%;bottom: 50%;width: 50%;">

            <h1>Atencion de Pedidos</h1>
            <br> <br>
            <table id="example" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fecha Pedido</th>
                        <th scope="col">Pedido</th>                         
                        <th scope="col">orden</th>
                        <th scope="col">Persona</th>
                        <th scope="col">Subir</th>
                        <th scope="col">Bajar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cl:${atencionpedidos}">
                        <th th:text="${cl.id}"></th>
                        <td th:text="${cl.Fechapedido}"></td>
                        <td th:text="${cl.pedido.id}"></td>
                        <td th:text="${cl.orden}"></td>
                        <td th:text="${cl.persona.nombre}"></td>
                        <td><a class="btn btn-success btn-sm" th:href="@{/atencionpeds/}+${cl.id}"
                                   th:text="'Subir'" title="Guardar">
                        </a></td>
                        <td><a class="btn btn-success btn-sm" th:href="@{/atencionpedb/}+${cl.id}"
                                   th:text="'Bajar'" title="Guardar">
                        </a></td>
                    </tr>
                </tbody>
            </table>
            <div><a  class="btn btn-success" th:href="@{/correorepartidor}">Enviar correo repartidor</a></div>

        </div>

        <footer th:replace="template :: footer"></footer>

    </body>

</html>