<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="template :: head">
    </head>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <header th:replace="template :: cabecera"></header>
        <div class="sidebar" th:replace="template :: menuAdminstrador"></div>

        <div class="container" style="position: absolute;top: 10%;left: 20%;bottom: 50%;width: 100%;">
            <h1>Administracion de Personas</h1>	<br>
            <table id="example" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Desactivar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cl:${tiendas}">
                        <th scope="row" th:text="${cl.id}"></th>
                        <td th:text="${cl.nombre}"></td>
                        <td th:text="${cl.telefono}"></td>
                        <td th:text="${cl.descripcion}"></td>
                        <td th:text="${cl.latitud}"></td>
                        <td th:text="${cl.longitud}"></td>
                        <td th:text="${cl.estado == 1} ? 'Activo' : 'Desactivada'"></td>
                        <td>
                            <a class="btn btn-success btn-sm" th:href="@{/edit/} + ${cl.id}"
                               th:text="'Editar'" title="Editar">
                            </a>
                        </td>	
                        <td>
                            <a class="btn btn-danger btn-sm" th:href="@{/delete/} + ${cl.id}"
                               th:text="'Desactivar'" title="Desactivar"
                               onclick="return confirm('Esta seguro de desactivar la tienda?');">
                            </a>
                        </td>					
                    </tr>
                </tbody>
            </table>


        </div>

        <footer th:replace="template :: footer"></footer>

    </body>
</html>