<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Marketplace</title>
        <!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" > -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
        <link rel="stylesheet" th:href="@{/css/signin.css}">
        <link th:href="@{css/styles.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>

        <!-- BARRA DE NAVEGACION -->
        <header th:fragment="cabecera">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/index}">
                        <strong>MarketplaceUTP</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- ENLACES DEL MENU -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" style="text-align: left;">
                            <li class="nav nav-item active">
                                <a class="nav-link" th:href="@{/index}">Inicio
                                    <span class="sr-only sr-only-focusable">(current)</span></a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link"th:href="@{/listar}">Usuarios</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link"th:href="@{/vendedor}">Vendedor</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()" >
                                <a class="nav-link"th:href="@{/tienda}">Tienda</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link"th:href="@{/carrito}">Carrito</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav nav-bar-right">
                        <li sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-warning" th:href="@{/login}">Iniciar Sesion</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="btn btn-outline-warning dropdown-toggle" href="#"
                               role="button" id="dropdownMenuLink" data-toggle="dropdown" 
                               aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar Sesion</button>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>


            <!-- MENSAJES -->
            <div class="alert alert-success alert-dismissable" role="alert" th:if="${success != null}">
                <label th:text="${success}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <div class="alert alert-danger alert-dismissable" role="alert" th:if="${error != null}">
                <label th:text="${error}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <div class="alert alert-warning alert-dismissable" role="alert" th:if="${warning != null}">
                <label th:text="${warning}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <div class="alert alert-info alert-dismissable" role="alert" th:if="${info != null}">
                <label th:text="${info}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </header>
        <!--        BARRA LATERAL VENDEDOR-->
        
        <div class="row">
            <div th:fragment="menuvendedor">
            <nav  class="full-box cover dashboard-sideBar">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;height:100vh;">
                    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                        <span class="fs-4 active">Menu de Vendedor</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a th:href="@{/adminproductos}" class="nav-link text-white" >

                                Administracion Catalogo de Productos
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/adminpedidos}" class="nav-link text-white">
                                Administracion de Pedidos
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/adminatencion}" class="nav-link text-white">
                                Administracion de Atencion pedidos
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link text-white">
                                Reporte de Pedidos
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </nav>
            </div>
            <div class="container"></div>
        </div>
        
        <!-- CONTENIDO -->
        

        <!-- PIE DE PAGINA -->
        <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

            <div class="container">
                <p>MarketplaceUTP - 2021</p>
            </div>
            <!--            <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
                        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
                        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
                        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
            <script
                type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

            <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </footer>

    </body>
</html>